.App {
  text-align: center;
}

#App-logo {
  max-width: 360px;
  height: 50px;
  pointer-events: none;
  padding: auto 0px 10px 15px;
  margin: 0px;  
}
p {
  text-align: center;
  /* animation-duration: 16s;
  animation-name: slide;
  animation-timing-function: infinite; */
}
.home{
  background-image: url(./images/table_setting.jpg);
  height: 400px;
  max-width: 100%;
}
.bronze{
  background-image: url(./images/babyshower.jpg);
  max-width: 100%;
  height:400px
}
.unordered{
  list-style: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
